<h1>Contact list</h1>

<h3>Add a contact here:</h3>

<form action="/contacts" method="post">
  <label for="contact_name">Contact:</label>
  <input id="contact_name" name="contact_name" type="text">

  <label for="contact_number">Number:</label>
  <input id="contact_number" name="contact_number" type="text">


  <button type="submit" class="btn btn-sm btn-primary">Add contact</button>
</form>


<% if not @my_contacts.nil? and not @my_contacts.empty? %>
<h3>list of contacts: </h3>
<ul>
  <% @my_contacts.each() do |contact| %>
  <li><a href="/contacts/<%= contact.id() %>"><%= contact.contact_name() %></a></li>
  <% end %>
</ul>
<% end %>



<hr>


<h1>Search List</h1>


<form action="/search" method="post">
  <label for="search_term">Query</label>
  <input id="search_term" name="search_term" type="text">


  <button type="submit" class="btn btn-sm btn-danger">Search</button>
</form>

<% if not @searched_contacts.nil? and not @searched_contacts.empty? %>

<h3>Here are the list of contacts: </h3>
<ul>
  <% @searched_contacts.each() do |contact| %>
  <li><a href="/contacts/<%= contact.id() %>"><%= contact.contact_name() %></a></li>
  <% end %>
</ul>

<% end %>
